@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #cacaca;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 120px;
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.body {
  position: relative;
}
.body__header {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (max-width: 1075px) {
  .header {
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }
}
.header__navigation {
  margin-left: 90px;
}
@media (max-width: 1075px) {
  .header__navigation {
    margin-left: 0;
  }
}
.header__search {
  min-width: 248px;
  margin-left: auto;
}
@media (max-width: 1075px) {
  .header__search {
    align-self: stretch;
    margin-left: 0;
  }
}

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.logo__text {
  display: block;
  color: #fff;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}
@media (max-width: 1075px) {
  .logo__text {
    line-height: 13px;
  }
}
.logo__link {
  display: block;
}
.logo__image {
  display: block;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1075px) {
  .navigation__list {
    flex-direction: column;
  }
}
.navigation__link {
  display: block;
  padding: 10px;
  color: #cacaca;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1075px) {
  .navigation__link {
    padding: 0;
    line-height: 13px;
  }
}
.navigation__link--active {
  color: #fff;
  cursor: default;
}

.search__input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.search__input::-moz-placeholder {
  color: #757575;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
.search__input::placeholder {
  color: #757575;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

.hero {
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.hero__title-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 1075px) {
  .hero__title-wrap {
    margin-bottom: 16px;
  }
}
.hero__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 30px;
    line-height: 45px;
  }
}
.hero__title-text {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero__title-text {
    font-size: 18px;
    line-height: 27px;
  }
}

.hero-form__wrap {
  display: grid;
  grid-template-areas: "b c" "d d";
  gap: 1.5em;
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 1075px) {
  .hero-form__wrap {
    grid-template-areas: "b" "c" "d";
  }
}
.hero-form__text {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
}
.hero-form__input {
  min-width: 270px;
  min-height: 50px;
  padding: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.hero-form__input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.hero-form__input::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.hero-form__input:hover {
  border-color: #fff;
}
.hero-form__input--name {
  grid-area: b;
}
.hero-form__input--email {
  grid-area: c;
}
.hero-form__button {
  grid-area: d;
  padding: 20px 30px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #34c176;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-form__button:hover {
  opacity: 0.9;
}/*# sourceMappingURL=styles.css.map */