@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #cacaca;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  margin: 0;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.body {
  position: relative;
}
.body__header {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (max-width: 1075px) {
  .header {
    flex-direction: column;
    gap: 14px;
    align-items: start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__navigation {
  margin-left: 80px;
}
@media (max-width: 1075px) {
  .header__navigation {
    margin-left: 0;
  }
}
.header__search {
  min-width: 248px;
  margin-left: auto;
}
@media (max-width: 1075px) {
  .header__search {
    align-self: stretch;
    margin-left: 0;
  }
}

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.logo__text {
  color: #fff;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}
@media (max-width: 1075px) {
  .logo__text {
    line-height: 13px;
  }
}
.logo__image {
  display: block;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1075px) {
  .navigation__list {
    flex-direction: column;
  }
}
.navigation__link {
  display: block;
  padding: 10px;
  color: #cacaca;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link:hover {
  color: #fff;
}
@media (max-width: 1075px) {
  .navigation__link {
    padding: 0;
    line-height: 13px;
  }
}
.navigation__link--active {
  color: #fff;
  cursor: default;
}

.search__input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.search__input::-moz-placeholder {
  color: #757575;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
.search__input::placeholder {
  color: #757575;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

.hero {
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 1075px) {
  .hero {
    padding-top: 248px;
  }
}
.hero--artist {
  padding-top: 250px;
  padding-bottom: 222px;
  background-image: url("../images/Morten Harket.png");
}
@media (max-width: 1075px) {
  .hero--artist {
    padding-top: 225px;
  }
}
.hero__title-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 1075px) {
  .hero__title-wrap {
    margin-bottom: 16px;
  }
}
.hero__title-wrap--artist {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 48px;
}
@media (max-width: 1075px) {
  .hero__title-wrap--artist {
    margin-bottom: 48px;
  }
}
.hero__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
}
.hero__title--artist {
  margin-bottom: 16px;
  text-align: left;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 30px;
    line-height: 45px;
  }
}
.hero__title-text {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero__title-text {
    font-size: 18px;
    line-height: 27px;
  }
}
.hero__text {
  margin: 0;
  color: #fff;
}
.hero__button-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.hero-form__wrap {
  display: grid;
  grid-template-areas: "b c" "d d";
  gap: 1.5em;
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 1075px) {
  .hero-form__wrap {
    grid-template-areas: "b" "c" "d";
  }
}
.hero-form__text {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
}
.hero-form__input {
  min-width: 270px;
  min-height: 50px;
  padding: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.hero-form__input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.hero-form__input::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.hero-form__input:hover {
  border-color: #fff;
}
.hero-form__input--name {
  grid-area: b;
}
.hero-form__input--email {
  grid-area: c;
}
.hero-form__button {
  grid-area: d;
  padding: 20px 30px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #34c176;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-form__button:hover {
  opacity: 0.9;
}

.subscription {
  padding-top: 100px;
}
.subscription__title {
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
}
.subscription__option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style: none;
}
@media (max-width: 1075px) {
  .subscription__option-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
.subscription__text {
  margin: 0;
  color: #fff;
  text-align: center;
}

.option {
  width: 366px;
  padding: 24px 24px 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
@media (max-width: 1075px) {
  .option {
    width: 100%;
    padding-top: 16px;
  }
}
.option--free {
  background-image: url("../images/subscribe_1.png");
}
.option--standard {
  background-image: url("../images/subscribe_2.png");
}
.option--premium {
  background-image: url("../images/subscribe_3.png");
}
.option__title {
  margin: 0;
  margin-bottom: 200px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1075px) {
  .option__title {
    font-size: 16px;
    line-height: 24px;
  }
}
.option__price-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
}
.option__price {
  margin: 0;
  color: #fff;
  font-size: 64px;
  line-height: 64px;
}
.option_currency {
  color: #fff;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
}
.option__button {
  margin-bottom: 64px;
}
.option__details {
  max-width: 310px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.button--size-s {
  width: 135px;
  padding: 17px;
  color: #cacaca;
  font-size: 12px;
  line-height: 20px;
  border-color: #cacaca;
}
.button--artist {
  width: 200px;
  padding: 21px;
  padding-left: 74px;
  text-align: left;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  border: none;
  border-radius: 0;
  position: relative;
}
.button--artist::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 30px;
  width: 20px;
  height: 20px;
}
.button--mix::before {
  -webkit-mask-image: url("../images/heart.svg");
          mask-image: url("../images/heart.svg");
  background-color: #fff;
}
.button--favourites::before {
  -webkit-mask-image: url("../images/play-button.svg");
          mask-image: url("../images/play-button.svg");
  background-color: #fff;
}
.button--purple {
  background-color: #5328a1;
}
.button--red {
  background-color: #95390c;
}
.button:hover {
  opacity: 0.8;
}

.news {
  padding-top: 100px;
}
.news__title {
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
}
.news__list {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.news__item {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
@media (max-width: 975px) {
  .news__item {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

.album__link {
  display: block;
  width: 48%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 975px) {
  .album__link {
    width: 100%;
  }
}
.album__image {
  display: block;
  width: 100%;
  height: 100%;
}
.album--reversed {
  flex-direction: row-reverse;
}

.description {
  width: 48%;
}
@media (max-width: 975px) {
  .description {
    width: 100%;
  }
}
.description__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: none;
}
@media (max-width: 1075px) {
  .description__title {
    margin-bottom: 0;
    font-size: inherit;
  }
}
.description__text {
  margin: 0;
  margin-bottom: 24px;
}
.description__info-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
}
.description__info-wrap::before {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/avatar.png");
  border-radius: 50%;
  content: "";
}
.description__author {
  color: #f89202;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.description__date {
  font-size: 12px;
  line-height: 20px;
}

.mobile {
  padding-top: 100px;
}
.mobile__title {
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
}
.mobile__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
@media (max-width: 975px) {
  .mobile__container {
    flex-direction: column-reverse;
  }
}
.mobile__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  padding-top: 16px;
}
@media (max-width: 975px) {
  .mobile__content {
    width: 100%;
  }
}
.mobile__image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
@media (max-width: 975px) {
  .mobile__image-container {
    width: 100%;
  }
}
.mobile__text {
  margin: 0;
}
.mobile__button {
  display: block;
  width: 131px;
  padding: 17px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #95390c;
  border-radius: 32px;
  cursor: pointer;
}
.mobile__button:hover {
  opacity: 0.8;
}

.footer {
  padding-top: 62px;
  color: #fff;
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 1158px) {
  .footer__container {
    flex-direction: column;
    gap: 18px;
  }
}
.footer__list-container {
  min-width: 270px;
}
.footer__list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style-type: none;
}
.footer__list--socials {
  display: flex;
  gap: 24px;
}
.footer__list-title {
  margin-bottom: 15px;
}
.footer__link {
  color: #e0e0e0;
  text-decoration: none;
}
.footer__link:hover {
  color: #fff;
}
.footer__navigation-container {
  border-top: 2px solid #cacaca;
}
.footer__navigation {
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer__navigation-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1158px) {
  .footer__navigation-list {
    flex-direction: column;
    gap: 16px;
  }
}

.popular {
  padding-top: 100px;
}
.popular__title {
  color: #fff;
  margin-bottom: 48px;
}
.popular__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 25px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 1075px) {
  .popular__list {
    grid-template-columns: 1fr;
  }
}
.popular__item {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track__title {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.track__artist {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}
.track__duration {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}
.track__info-wrap {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.track__link {
  display: block;
  grid-row: 1/-1;
}

.discs {
  padding-top: 100px;
}
.discs__title {
  color: #fff;
  margin-bottom: 48px;
}/*# sourceMappingURL=styles.css.map */