.button {
  display: block;
  width: 100%;
  padding: 20px;

  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;

  border: 1px solid $white;
  border-radius: 5px;

  &--size-s {
    width: 135px;
    padding: 17px;

    color: $grey;
    font-size: 12px;
    line-height: 20px;

    border-color: $grey;
  }

  &--artist {
    width: 200px;
    padding: 21px;
    padding-left: 68px;
    text-align: left;

    color: $white;
    font-size: 12px;
    line-height: 20px;

    border: none;
    border-radius: 0;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 30px;
      width: 20px;
      height: 20px;
    }
  }

  &--mix::before {
    mask-image: url("../images/icons/play-button.svg");
    background-color: $white;
  }

  &--favourites::before {
    mask-image: url("../images/icons/heart.svg");
    background-color: $white;
  }

  &--purple {
    background-color: $purple;
  }

  &--red {
    background-color: $red;
  }

  &:hover {
    opacity: 0.8;
  }
}