.button {
  display: block;
  width: 100%;
  padding: 20px;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--size-s {
    width: 135px;
    color: $grey;
    border-color: $grey;
    padding: 17px;
    font-size: 12px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}