.disc {
  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: $white;
  }

  &__year {
    margin: 0;
    line-height: 24px;
  }

  &__image {
    @media (max-width: 1075px) {
      width: 137px;
      height: 137px;
    }
  }
}