.header {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

  @media (max-width: 1075px) {
    flex-direction: column;
    gap: 14px;
    align-items: start;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__navigation {
    margin-left: 80px;

    @media (max-width: 1075px) {
      margin-left: 0;
    }
  }

  &__search {
    min-width: 248px;
    margin-left: auto;

    @media (max-width: 1075px) {
      align-self: stretch;
      margin-left: 0;
    }
  }
}