.hero {
  padding: 200px 0;

  background-image: url("../images/banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1075px) {
    padding-top: 248px;
  }

  &--artist {
    padding-top: 250px;
    padding-bottom: 222px;
    background-image: url("../images/Morten_Harket.png");

    @media (max-width: 1075px) {
      padding-top: 225px;
    }
  }

  &__title-wrap {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;

    @media (max-width: 1075px) {
      margin-bottom: 16px;
    }

    &--artist {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 48px;

      @media (max-width: 1075px) {
        margin-bottom: 48px;
      }
    }
  }

  &__title {
    margin: 0;

    color: $white;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;

    &--artist {
      margin-bottom: 16px;
      text-align: left;
    }

    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 45px;
    }
  }

  &__title-text {
    margin: 0;

    color: $white;
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__text {
    margin: 0;
    color: $white;
  }

  &__button-wrap {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}