.hero-form {
  &__wrap {
    display: grid;
    grid-template-areas:
      "b c"
      "d d";
    gap: 1.5em;
    max-width: 570px;
    margin: 0 auto;

    @media (max-width: 1075px) {
      grid-template-areas:
        "b"
        "c"
        "d";
    }
  }

  &__text {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 18px;

    color: $white;
    text-align: center;
  }

  &__input {
    min-width: 270px;
    min-height: 50px;
    padding: 16px;

    color: $white;

    background-color: transparent;
    border: 2px solid $grey;
    border-radius: 3px;

    &::placeholder {
      color: $white;
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      border-color: $white;
    }

    &--name {
      grid-area: b;
    }

    &--email {
      grid-area: c;
    }
  }

  &__button {
    grid-area: d;
    padding: 20px 30px;

    color: $white;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;

    background-color: $green;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}