.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;

  &__text {
    color: $white;
    font-size: 11px;
    line-height: 16.5px;
    text-transform: uppercase;

    @media (max-width: 1075px) {
      line-height: 13px;
    }
  }

  &__image {
    display: block;
  }
}