.mobile {
  padding-top: 100px;

  &__title {
    margin: 0;
    margin-bottom: 48px;

    color: $white;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 50%;
  }

  &__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 50%;
  }

  &__text {
    margin: 0;
    margin-bottom: 16px;
  }

  &__button {
    display: block;
    width: 131px;

    padding: 17px;

    color: $white;
    text-align: center;
    text-decoration: none;

    background-color: $red;

    border-radius: 32px;

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}