.navigation {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    display: block;
    padding: 10px;
    color: $grey;
    font-size: 11px;
    line-height: 16.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &--active {
      color: $white;
      cursor: default;
    }
  }
}