.news {
  padding-top: 100px;

  &__title {
    margin-bottom: 48px;

    color: $white;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;

    @media (max-width: 975px) {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }
}