.option {
  width: 366px;
  padding: 24px 24px 64px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  @media (max-width: 1075px) {
    width: 100%;
    padding-top: 16px;
  }

  &--free {
    background-image: url("../images/subscribe/subscribe_1.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/subscribe/subscribe_1@2x.png");
    }
  }

  &--standard {
    background-image: url("../images/subscribe/subscribe_2.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/subscribe/subscribe_2@2x.png");
    }
  }

  &--premium {
    background-image: url("../images/subscribe/subscribe_3.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/subscribe/subscribe_3@2x.png");
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 200px;

    color: $white;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1075px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__price-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    margin-bottom: 40px;
  }

  &__price {
    margin: 0;

    color: $white;
    font-size: 64px;
    line-height: 64px;
  }

  &_currency {
    color: $white;

    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__button {
    margin-bottom: 64px;
  }

  &__details {
    max-width: 310px;
    margin: 0 auto;

    color: $white;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}