.search {
  &__input {
    display: block;
    width: 100%;
    padding: 5px 10px;

    background-color: $dark-grey;

    border: none;
    border-radius: 50px;

    &:hover {
      opacity: 0.8;
    }

    &::placeholder {
      color: $grey-secondary;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
    }
  }
}