@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}